.carte {
  @include flex_centered_column;
  position: relative;
  top: -60px;
  border-radius: $br_big $br_big 0 0;
  &__container_head {
    margin-top: 10px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__head {
    font-size: map-get($map: $font_size, $key: head_big);
    font-family: $font_special;
  }
  &__icon {
    font-size: map-get($map: $font_size, $key: head_big);
  }
  &__button {
      margin: 50px 0;
      padding: 0 40px;
  }
}

.menu {
  @include flex_centered_HeadLeft;
  width: 100%;
  &__head {
    font-size: map-get($map: $font_size, $key: p_mid);
    font-weight: 400;
    margin-bottom: 5px;
    &__border-bottom {
      margin-left: 20px;
      width: 40px;
      border-bottom: 3px solid map-get($map: $colors, $key: tertiary);
      align-self: flex-start;
    }
  }
}

.plat {
    @include shadow;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 95%;
    min-height: 70px;
    margin-top: 15px;
    background-color: map-get($map: $colors, $key: white_color);
    border-radius: $br;
    &__head {
        margin: 10px 0 5px 10px;
        font-size: map-get($map: $font_size, $key: p_mid);
    }
    &__container {
      display: flex;
      align-items: center;
    }
    &__detail {
        width: 85%;
        margin: 5px 0 5px 10px;
        font-size: map-get($map: $font_size, $key: p_verysm);
    }
    &__prix {
      width: 25px;
        margin: 0 10px 0 0;
        font-size: map-get($map: $font_size, $key: p_sm);
        font-weight: 600;
    }
}