$colors: (
    primary: #9356dc,
    secondary:#ff79da,
    tertiary: #99e2d0,

    header: #ffffff,
    localisation: #f6f6f6,
    functioning: #ffffff,
    restaurant: #eaeaea,
    footer: #353535,
    presentation: #ffffff,
    carte: #f6f6f6,

    grey_color: #eaeaea,
    white_color: #ffffff,
    light_grey_color: #f6f6f6,
    dark_grey_color: #353535,
    primary_light: #f5edff,
    green_color: #008766
);

$box_height: (
    header: 60px,
    localisation: auto, 
    functioning: auto,
    restaurant: 1250px,
    footer: 200px,
    presentation: 260px,
    carte: auto
);

$section_param: (
    header: (
        param_height: map-get($map: $box_height, $key: header),
        param_color: map-get($map: $colors, $key: header),
        param_margin: 0
    ),
    localisation: (
        param_height: map-get($map: $box_height, $key: localisation),
        param_color: map-get($map: $colors, $key: localisation),
        param_margin: 0
    ),
    functioning: (
        param_height: map-get($map: $box_height, $key: functioning),
        param_color: map-get($map: $colors, $key: functioning),
        param_margin: 0
    ),
    restaurant: (
        param_height: map-get($map: $box_height, $key: restaurant),
        param_color: map-get($map: $colors, $key: restaurant),
        param_margin: 0
    ),
    footer:(
        param_height: map-get($map: $box_height, $key: footer),
        param_color: map-get($map: $colors, $key: footer),
        param_margin: 0
    ),
    presentation:(
        param_height: map-get($map: $box_height, $key: presentation),
        param_color: map-get($map: $colors, $key: presentation),
        param_margin: 0
    ),
    carte:(
        param_height: map-get($map: $box_height, $key: carte),
        param_color: map-get($map: $colors, $key: carte),
        param_margin: 0
    )
);

$font_size: (
    p_verysm: 14px,
    p_sm: 16px,
    p_mid: 17px,
    head_big: 25px,
    icon_size: 20px
);

$breakpoints: (
    tablet: 765px,
    laptop: 1024px
)