@mixin section_creation($box_param_mixin) {
  @each $section, $param in $box_param_mixin {
    .#{$section} {
      height: map-get($map: $param, $key: param_height);
      background-color: map-get($map: $param, $key: param_color);
      margin: map-get($map: $param, $key: param_margin);
    }
  }
}

// Centrage avec flexbox
@mixin flex_centered_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex_centered_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Centrage flex_centered + alignement du titre à gauche
@mixin flex_centered_RestoFunct {
  @include flex_centered_column;
  justify-content: space-evenly;
  &__head {
    align-self: flex-start;
    margin-left: 20px;
  }
} 

@mixin cadre ($height: 100%, $width: 100%) {
  overflow: hidden;
  height: $height;
  width: $width;
}

@mixin objet_fit {
  object-fit: cover;
        width: inherit;
        height: inherit;
}