$font_main: 'Roboto', sans-serif;
$font_special: 'Shrikhand', cursive;

// Border radius
$br: 15px;
$br_big: 50px;

// padding
//      padding/margin left
$pdl: 20px;

// Intensité éclaircissement des couleurs des boutons
$light_amount: 100;