.button--pink {
  @include shadow;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(
    170deg,
    map-get($colors, secondary),
    map-get($colors, primary)
  );
  color: map-get($map: $colors, $key: white_color);
  font-size: map-get($map: $font_size, $key: p_sm );
  
}


