.button--pink {
  @include shadow;
  position: relative;
  z-index: 10;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: linear-gradient( 170deg, map-get($colors, secondary), map-get($colors, primary));
  color: map-get($map: $colors, $key: white_color);
  font-size: map-get($map: $font_size, $key: p_sm);

  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -10;
    @include shadow(2);
    border-radius: 50px;
    background: linear-gradient(170deg, lighten(map-get($colors, secondary), $light_amount), lighten(map-get($colors, primary), $light_amount));
  }
}
