.localisation_info__button {
    height: 50px;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(170deg, map-get($colors, secondary), map-get($colors, primary));
    color: map-get($map: $colors, $key: white_color);
    font-size: 16px;
    font-weight: 400;
    padding: 0 20px 0 20px;
}

.functioning_steps {
    @include flex_centered_row;

    height: 75px;
    width: 80%;

    border: none;
    border-radius: 20px;

        &__number {
            float: left;
        }
}