

.header {
    @include flex_centered_column; 
    width: 100%;
    z-index: 10;
    justify-content: center;
    &__link {
        height: 30px;
        width: 30px;
        position: absolute;
        left: 20px;
        z-index: 10;
    }
    &__icon {
        position: absolute;
        left: 25px;
        font-size: map-get($map: $font_size, $key: icon_size);
    }
}